
body{
    background-color:#E8E8E8;
}


.a_tbdr{
    border: 1px dashed red;
}

/* .a_cont{
    min-height:6777px;
} */

header{
    height: 81px;
    width: 94%;
    margin: auto;
    
}
 main{
    height: 4464px;
                                                   /*top:82px; position-realtive use in main class */
 }

 .mt-5 {
    margin-top: 5rem!important;
}


.a_footer1{
    height: 143px;
}
.a_footer2{
    height: 1625px;
}
.a_footer3{
    height:333px;
}
.a_footer4{
    height:93px;
}

                                        /* 2 nd day   hover selector  desencedent  selector */

ul > li > a:hover{
                     background-color:#ebebeb;          /* hover selector */
                    cursor: pointer;
                    /* border-radius: 10px;
 */

}

.a_menu > li:hover ul{
    display: block;             /*show*/
}

.a_submenu{
    width:;
    height:;
    background-color:;
    display: none;
}


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1297px;
    }

}
